<!-- playsinline="" src="blob:https://answerly.io/d941afe9-67b2-4252-824d-3dbedf4d7f16" -->
<video width="320" height="240" controls autoplay> 
  <source src="../assets/video/playlist.m3u8" type="application/x-mpegURL"> 
</video>

<!-- <video playsinline="" > <source src="https://vz-9f046399-8ec.b-cdn.net/6228463c-0996-4852-a95a-feb5fd7c2fba/playlist.m3u8" type="application/x-mpegURL"> </video> -->

<!-- <vg-player>
  <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
      <source src="../assets/video/playlist.m3u8" type="application/x-mpegURL">
  </video>
</vg-player> -->