<!-- player frame -->
<div class="player" [ngClass]="viewMode ? '' : 'd-none'">
    <!-- auther name -->
    <div class="d-flex auther-bar">
        <div class="auther d-none">
            <img src="" alt="">
            <div>
                <p>Pradeep Kumar</p>
            </div>
        </div>
        <div class="player__minimize-icon" (click)="viewMode = !viewMode">
            <img src="../assets/img/minimize-icon.svg" alt="">
        </div>
    </div>
    
    <!-- video player -->
    <video id="video" loop (timeupdate)="onTimeUpdate()" (click)="videoPlay()">
        <source src="../assets/video/videoplayback.mp4" type="video/mp4">
    </video>

    <!-- player discription -->
    <div class="content-bar">
        <div class="player__content">
            <div class="d-flex align-items-end">
                <div>
                    <p class="__title"> This is Facepop </p>
                    <p class="__disc">
                        <b>A widget you can use to upload videos and get personal with your customers to schedule
                            meetings, ask for reviews, or share the latest features with its CTA functionality.</b>
                    </p>
                </div>
                <!-- actions -->
                <div class="__actions">
                    <div id="volume_button">
                        <img *ngIf="volumeButton" src="../assets/img/unmute-icon.svg" alt="unmute-icon"
                            (click)="videoVolume()">
                        <img *ngIf="!volumeButton" src="../assets/img/mute-icon.svg" alt="mute-icon"
                            (click)="videoVolume()">
                    </div>
                    <div id="play_button" (click)="videoPlay()">
                        <img src="../assets/img/pause-icon.svg" alt="pause-icon">
                    </div>
                </div>
            </div>
            <button class="cta__btn d-flex" (click)="goToLink()">
                Read About Facepop
                <img src="../assets/img/readmore-icon.svg" alt="readmore-icon">
            </button>
        </div>
        <div class="progress-bar">
            <span [style.width]="percentage + '%'"></span>
        </div>
    </div>
</div>

<!-- minimize view -->
<div class="minimize-view" [ngClass]="!viewMode ? '' : 'd-none'">
      <!-- icon -->
        <div class="player__minimize-icon" (click)="viewMode = !viewMode">
            <img src="../assets/img/plus-lg.svg" alt="plus-lg">
        </div>
   
    <!-- video player -->
    <video id="video" loop (timeupdate)="onTimeUpdate()" (click)="videoPlay()">
        <source src="../assets/video/videoplayback.mp4" type="video/mp4">
    </video>
    <div class="content-bar">
        <div class="progress-bar">
            <span [style.width]="percentage + '%'"></span>
        </div>
        </div>
</div>